<div class="toolbar">
	<h1 id="pageTitle">
		Contacts
	</h1>
</div>

<ul id="contacts" title="Contacts" selected="true">
  	<a class="button right_button" href="Contact/new" target="_self">New</a>
	<%@contacts.each do |x|%>
	
		<li><%=link_to "#{x.first_name} #{x.last_name}", :action => :show, :id => x.object%></li>
	
	<%end%>
</ul>