<% unless SyncEngine::logged_in > 0 %>
  <script language="JavaScript">window.location ='/app/Settings/login';</script>
<% end %>

<div class="toolbar">
	<h1 id="pageTitle">
		Contacts
	</h1>
</div>

<ul id="contacts" title="Contacts" selected="true">
	<% @contacts.each do |x| %>
		<li><%=link_to "#{x.first_name} #{x.last_name}", :action => :show, :id => x.object%></li>
	<% end %>
</ul>