<div class="toolbar">
	<h1 id="pageTitle">
		New Contact
	</h1>
</div>

<form title="New Contact" 
	  class="panel"
	  id="contact_new_form" 
	  method="POST" 
	  action="<%=url_for(:action => :create)%>" selected="true">
	<fieldset>
		<input type="hidden" name="id" value="<%=@contact.object%>"/>
		
		  <div class="row">
			  <label>Name: </label>
			  <input type="text" name="contact[name]"/>
		  </div>
		
		  <div class="row">
			  <label>Mail: </label>
			  <input type="text" name="contact[mail]"/>
		  </div>
		
		  <div class="row">
			  <label>Phone: </label>
			  <input type="text" name="contact[phone]"/>
		  </div>
		
		  <div class="row">
			  <label>Company: </label>
			  <input type="text" name="contact[company]"/>
		  </div>
		
		  <div class="row">
			  <label>Location: </label>
			  <input type="text" name="contact[location]"/>
		  </div>
		
		  <div class="row">
			  <label>Rating: </label>
			  <input type="text" name="contact[rating]"/>
		  </div>
		
	</fieldset>
	<input type="submit" value="Create"/>
</form>