<div class="toolbar">
	<h1 id="pageTitle">
		Cargando...
	</h1>
</div>

<div align="center" style="background: url(/public/images/loading.png) no-repeat 0 -44px; width: 100%; height: 100%; text-align: center">
	<img src="/public/images/loader.gif" style="position: absolute; right: 140px; top: 206px;"/>
</div>