<div class="toolbar">
	<h1 id="pageTitle">
		New Myfreight
	</h1>
</div>

<form title="New Myfreight" 
	  class="panel"
	  id="myfreight_new_form" 
	  method="POST" 
	  action="<%=url_for(:action => :create)%>" selected="true">
	<fieldset>
		<input type="hidden" name="id" value="<%=@myfreight.object%>"/>
		
		  <div class="row">
			  <label>Origin: </label>
			  <input type="text" name="myfreight[origin]"/>
		  </div>
		
		  <div class="row">
			  <label>Destination: </label>
			  <input type="text" name="myfreight[destination]"/>
		  </div>
		
		  <div class="row">
			  <label>Category: </label>
			  <input type="text" name="myfreight[category]"/>
		  </div>
		
		  <div class="row">
			  <label>Date departure: </label>
			  <input type="text" name="myfreight[date_departure]"/>
		  </div>
		
		  <div class="row">
			  <label>Name: </label>
			  <input type="text" name="myfreight[name]"/>
		  </div>
		
		  <div class="row">
			  <label>Phone: </label>
			  <input type="text" name="myfreight[phone]"/>
		  </div>
		
		  <div class="row">
			  <label>Email: </label>
			  <input type="text" name="myfreight[email]"/>
		  </div>
		
	</fieldset>
	<input type="submit" value="Create"/>
</form>