<div class="toolbar">
	<h1 id="pageTitle">
		Cargas
	</h1>
</div>

<ul id="freights" title="Freights" selected="true">
	<%@freights.each do |freight|%>
		<li><%=link_to "#{freight.origin} -> #{freight.destination}", :action => :show, :id => freight.object %></li>
	<% end %>
</ul>