<% unless SyncEngine::logged_in > 0 %>
  <script language="JavaScript">window.location ='/app/Settings/login';</script>
<% end %>

<div class="toolbar">
	<h1 id="pageTitle">
		Buscar Cargas
	</h1>
</div>

<form title="New Freight" 
	  class="panel"
	  id="freight_new_form" 
	  method="POST" 
	  action="<%=url_for(:action => :create)%>" selected="true">
	<fieldset>
		<input type="hidden" name="id" value="<%=@freight.object%>"/>
		
		  <div class="row">
			  <label>Origen: </label>
			  <input type="text" name="freight[origin]"/>
		  </div>
		
		  <div class="row">
			  <label>Destino: </label>
			  <input type="text" name="freight[destination]"/>
		  </div>
		
		  <div class="row long">
			  <label>Peso Minimo (Tn): </label>
			  <input type="text" name="freight[weight]"/>
		  </div>
		
	</fieldset>
	<div style="position: relative; height: 100px;">
	  <input type="submit" value="Buscar Cargas" class="blueButton"/>
	</div>
</form>