<div align="center" style="background: url(/public/images/loading.png) no-repeat; width: 100%; height: 100%; text-align: center">
	<img src="/public/images/loader.gif" style="position: absolute; right: 140px; top: 250px;"/>
</div>